# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!example.tfvars
*.tfplan
*_override.tf
*_override.tf.json
override.tf
override.tf.json
.terraformrc
terraform.rc
